-# Generates each form used by /edit/:uid. Uses method new_set from forms.db to
-# generate the table cells.

%h2= title
%span.glyphicon.glyphicon-plus
.hide-list
  = new_set(columns, special, number, yesno, track)
