%h1 Today's Statistics
%br/

%p.home
  Total number of stories: #{ @track.count }
  %br
  Number of flagged stories: #{ @flag }
  %br
  Number of stories pitched that have no footage yet: #{ @pitch.count }
  %br
  Number of rough cuts that have not been finalized yet: #{ @rough.count }
