!!!
%html
  %head
    %link{ href: "/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %script{ src: "/js/jquery-1.11.2.min.js" }
    %script{ src: "/js/js-webshim/minified/polyfiller.js" }
    :javascript
      // configure before calling webshims.polyfill
      webshim.setOptions("forms-ext",
      { replaceUI: true,
        types: 'date',
        "widgets":
          { "yearSelect": true, "monthSelect": true, "daySelect": true,
            "monthNames": "monthNames"}
      });

      webshim.polyfill('forms forms-ext');
    %script{ src: "/js/bootstrap.min.js" }
    %script{ src: "/js/main.js" }
  %body
    %nav.navbar.navbar-default.navbar-static-top.navbar-inverse
      .container-fluid
        .navbar-header
          %a.navbar-brand{ href: '/' } Video Volunteers
        %ul.nav.navbar-nav
          - if !session[:user].nil?
            %li
              %a{ href: '/new' } New Story Form
          %li
            %a{ href: '/view' } View All
          %li
            %a{ href: '/recent' } Recent
          %li
            %a{ href: '/search' } Search
          - if !session[:user].nil?
            %li
              %a{ href: '/note' } Add Note
            %li.dropdown
              %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
                Users
                %span.caret
              %ul.dropdown-menu{ role: 'menu' }
                %li
                  %a{ href: "/user/show/#{ session[:user] }" }Show
                %li
                  %a{ href: '/user/view' }View All
            %li.dropdown
              %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
                CCs
                %span.caret
              %ul.dropdown-menu{ role: 'menu' }
                %li
                  %a{ href: '/cc/new' }New
                %li
                  %a{ href: '/cc/view' }View All
                %li
                  %a{ href: '/cc/note' }Add Note
            %li.dropdown
              %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
                States
                %span.caret
              %ul.dropdown-menu{ role: 'menu' }
                %li
                  %a{ href: '/state/new' }New
                %li
                  %a{ href: '/state/view' }View All
          - if session[:user].nil?
            %li
              %a{ href: '/login' }Login
            %li
              %a{ href: '/signup' }Sign Up
          - else
            %li
              %a{ href: '/logout' }Logout

    .container
      .row
        .col-md-1
        .col-md-10
          - if flash[:error]
            %p.flash-error= flash[:error]
          - elsif flash[:notice]
            %p.flash-notice= flash[:notice]
          = yield
        .col-md-1
