%h1 New Story

%form.form-horizontal{:action => '/new', :method => 'post'}
  - @arr.each do |x|
    .form-group
      %label.col-sm-3.control-label= "#{x}:"
      .col-sm-9
        %input.form-control{:type => 'text', :name => "#{x}"}
  .form-group
    %label.col-sm-3.control-label Date Story Pitched:
    .col-sm-9
      %input.form-control{:type => 'date', :name => 'storydate'}
  %button.btn.btn-default.btn-block{:type => 'submit'} Submit
