- name = Array.new

- @state.each do |x|
  - name.push(x.state)
- name.sort!

%form{:action => "/new/state", :method => 'post'}
  %label State?
  %select{:name => 'state'}
    %option{:value => '', :selected => true, :disabled => true}
    - name.each do |x|
      %option{:value => x} #{x}
  %input{:type => 'submit'}
