%h1 Search


%form{:action => '/search', :method => 'post'}
  %label UID
  %input{:type => 'text', :name => 'uid'}
  %label See flagged stories?
  %input{:type => 'checkbox', :name => 'flag'}
  %label State
  %input{:type => 'text', :name => 'state'}
  %label CC Name
  %input{:type => 'text', :name => 'cc_name'}
  %input{:type => 'submit'}
