body {
  padding-bottom: 40px;
}

h1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

td{
  max-width: 200px;
  overflow: auto;
  word-wrap: break-word
}

.button-space {
  margin-top: 15px;
}

.checks {
  margin-bottom: 30px;
}

.checks ul {
  margin-left: -25px;
}

.checks li {
  display: inline-block;

}

.flash-error {
  color: #FFF;
  background-color: rgba(165, 0, 0, 0.64);
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
}

.flash-notice {
  background-color: rgba(165, 151, 0, 0.64);
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
}

.hide-list {
  display: none;
}

.home {
  font-family: verdana, arial;
  font-size: 16px;
}

.show-head {
  font-weight: bold;
}

.space {
  margin-bottom: 15px;
}

#home-menu {
  width: 100%;
  margin-bottom: 10px;
}

#view-margin {
  margin: 0 auto;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
