%h1 Correspondence Notes

%form.form-horizontal{ action: "/note/#{ @track.uid }", method: 'post' }
  %label.control-label Notes
  %input.form-control.space{ type: 'text', name: 'note' }
  %button.btn.btn-primary.btn-block{ type: 'submit' } Submit
