-# Generates each table used by /show/:uid. Uses method show from forms.db to
-# generate the table cells.

%h2= title
- if title == 'Impact' && !@track.impact_uid.blank?
  %p
    See
    %a{ href: "/show/#{ @track.impact_uid }"} #{ @track.impact_uid }
    for impact footage information.
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    = show(track, column)
