%h1 CC Notes

%form.form-horizontal{ action: "/cc/note/#{ params[:id] }", method: 'post' }
  %label.control-label Notes
  %input.form-control.space{ type: 'text', name: 'note' }
  %button.btn.btn-default.btn-block{ type: 'submit' } Submit
