%h1 CC Notes

%form.form-horizontal{ action: '/cc/note', method: 'post' }
  %label.control-label ID
  %input.form-control{ type: 'text', name: 'id' }
  %label.control-label Notes
  %input.form-control.space{ type: 'text', name: 'note' }
  %button.btn.btn-default.btn-block{ type: 'submit' } Submit
